body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;

}
.flex-box{
    @include flex();
}
#my-navigation ul li a{
  font-size: 1.3rem;
}
#my-navigation{
    background: none;
    border:none;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}
#my-navigation ul li img {
    width:12%;
} 
.com{
    max-width:1200px;
    margin: 0 auto;
}
#my-navigation ul li a{
    font-size: 1.5rem;
    color: black;
}
.new {
  background-color:orange;
  border:none;
  margin-right: 2rem;
  border-radius: 1rem;
}

/* what we do starts here*/

.event{
    width: 50%;
    height: 100%;
}
.event h2{
    margin: 5rem 0;
}
.event h5{
    color: orange;
}
.event p{
    line-height: 2.5rem;
    margin:1.5rem 0;
}

.button{
    padding:1rem 1rem ;
    border-radius: 1rem;
}
.button1{
    background-color: orange;
    border: none;
}
.button2{
    background: none;
    border: 1px solid orange;
    color: orange;
    margin: 0 1rem;
}
.button1:hover{
    background-color: white;
    transition-duration: 500ms;
    border: 1px solid orange;

}
.button2:hover{
    background-color: orange;
     color:black;
     transition-duration: 500ms;

}
.event a {
    color: black;
}
.production-img {
    width: 50%;
    height: 100%;
   }
.image-section {
   position: relative;
}
.image-section img:hover {
    transform: scale(1.1);
    transition-duration: 4s;
    transition-property: all;
    cursor: pointer;
    
 }
.image-section img{
    width: 100%;
}
.three-img{
position: absolute;
top:29rem;
}
.md-user {
    width: 33%;
}
.md-user img {
    width: 60%;
}
.md-user1 {
    position: relative;
    left:-4rem;
}
.md-user3{
   position: relative;
   right: -3rem;
}
.md-user p{
    width: 12rem;
    background-color: black;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    position: relative;
     bottom: 3rem;
    left: 6rem;
}

.full-box{
    width: 100%;
    margin-top: 4rem;
    align-items: center;
}

 .full-box .five-img{
    width: 20%;
}

.full-box .five-img img{
    width: 80%;
}


/* what we do ends here*/

/* what we serve starts here*/
.what{
    padding: 11rem 0;
    position: relative;
}
.s-section{
    position: relative;
}
.s1{
    width: 31%;
}
.s1 img{
    width: 90%;
}
.serve{
  width: 31%;
}
.serve img{
    width: 90%;
    border-radius: 1rem;
}
.serve img:hover{
     transform: scale(1.1);
     transition:all 2s linear 0s;
}

.three-section{
    position: absolute;
    top:14rem;
    left: 4rem;
}
.text{
    width: 31%;
    text-align: center;
    margin-top: 3rem;
}
.text h3{
    margin-bottom: 0;

}
.text p{
  font-size: 1.2rem;
}
.text h5{
    color: orange;
}


/* what we do ends here*/

/* sechduling starts here*/

.Stephanie{
    padding: 10rem 0;
}
.scheduling h2{
    margin-bottom: 1rem;
}
.scheduling h6{
 color: orange;
}
.scheduling{
 width: 45%;
}
.scheduling p{
   line-height: 2.5rem;
}
.scheduling-img{
    width: 45%;
    text-align: right;
    margin: 7rem 0;
}
.scheduling-img img{
    width: 95%;
}
.steph{
    margin-top: 3rem;
}
.steph img{
    width: 25%;
}
.steph p{
    width: 73%;
    font-size:1.3rem;
    margin: auto 0;
}
.communic{
    padding:4rem 0;
}

/*carousel starts here*/


.item .img-text{
    width: 30%;
}
.item .img-text img{
    width: 25%;
}
.item  .text-img {
    width: 60%;
    margin: auto 0;
    position:relative;
}
.text-img p{
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 400;
}
.quote1 ,.quote2{
    width: 7%;
}
.quote1 img{
     position: relative;
     top:2rem;
     left: -6rem;
}

.text-img h6{
    color: orange;
    font-size: 2rem;
}
.owl-prev,.owl-next {
position: absolute;
top:13rem;
}
.carousel .owl-prev{
left: 0;
font-size: 3rem;
}
.carousel .owl-next{
     right: 0;

}

/*carousel ends here*/

/*last section strts here*/

.image{
    padding:6rem 0;

}

 .image img{
  width: 14%;
}

.Lasso{
    width: 16%;
}
.all-in-one{
    margin-top: 1rem;
}
.Lasso ul{
padding-left: 0;
}
.Lasso ul li{
 list-style-type: none;
 margin-top: 1.7rem;


}
.Lasso ul li a{
    color: gray;
}
.Lasso ul li span{
 color: gray;
 font-weight: 700;
}
.Lasso button{
    width: 95%;
    padding: 1rem;
    margin-top: 3rem;
    background: none;
    background-color: orange;
    border: none;

}

/*last section ends here*/

/*footer starts here*/
.privacy {
    padding: 1rem 0;
}
.privacy p{
    width: 70%;
}

.privacy h5{
    width: 30%;
    text-align: right;
    margin-top: 0;
}
.buttonsubs:hover{
   background-color: #fff;
   transition-duration: 0.5s;
   border: 1px solid orange

}
.buttonpay:hover{
    background-color: #fff;
   transition-duration: 0.5s;
   border: 1px solid orange
}
/*footer ends here*/

@import "responsive";